---
title: flow-view event hooks
layout: page
---
  <div id="drawing"></div>
  {% include cdn-script.html %}

  <div id="log"></div>

  <script>{% include jscode/event-log.js %}</script>
  <pre>{% include jscode/event-log.js %}</pre>

  <!-- code stolen from http://stackoverflow.com/a/20256785/1217468 then customized-->
  <script>
    (function () {
      var old = console.log
      var logger = document.getElementById('log')

      console.log = function (eventName, eventData) {
        logger.innerHTML += '<span class="label label-primary">' + eventName + '</span>'

        if (typeof eventData == 'object')
          eventData = (JSON && JSON.stringify ? JSON.stringify(eventData) : eventData)

        logger.innerHTML += eventData + '<br />'
      }
  })()
  </script>
