{
  "presets": [
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ]
    },
    "umd": {
      "plugins": [
        "transform-es2015-modules-umd",
        "transform-es2015-arrow-functions",
        "transform-es2015-block-scoped-functions",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-es2015-shorthand-properties",
        "transform-es2015-template-literals"
      ]
    }
  }
}
