# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]

end_of_line = lf
trim_trailing_whitespace = true
charset = utf-8

[*.{json}]
indent_style = space
indent_size = 2

[*.{css,html,js,ts}]
indent_style = tab
indent_size = 4
