# EditorConfig is awesome: http://EditorConfig.org

# This file was created via command line
#
#     npm install dot-editorconfig

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*{.conf,.pl,.pm,.py}]
indent_size = 4

[*{.glsl,.go,.sh,.sql}]
indent_style = tab

[Makefile]
indent_style = tab

