:root {
  --fv-canvas-background-color: #f8f8f8;
  --fv-font-family: Courier;
  --fv-font-size: 16px;
  --fv-node-background-color: white;
  --fv-pin-background-color: darkgray;
  --fv-pin-bar-background-color: gainsboro;
  --fv-primary-color-1: #a9dfbf;
  --fv-primary-color-2: mediumaquamarine;
  --fv-primary-color-3: mediumseagreen;
}

.FlowViewCanvas {
  font-family: var(--fv-font-family);
  font-size: var(--fv-font-size);
}

/* Styles attributes required to calculate text dimensions. */
.FlowViewTextRuler {
  height: auto;
  width: auto;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

.FlowViewCanvas > svg {
  background: var(--fv-canvas-background-color);
}

.FlowViewPinBar > .FlowViewBox {
  fill: var(--fv-pin-bar-background-color)
}

.FlowViewNode--highlighted > .FlowViewPinBar > .FlowViewBox {
  fill: var(--fv-primary-color-1);
}

.FlowViewNodeContent {
  background: var(--fv-node-background-color);
}

.FlowViewNodeText {
  user-select: none;
  text-align: center;
}

.FlowViewInput,
.FlowViewOutput {
  fill: var(--fv-pin-background-color);
}

.FlowViewInput--highlighted,
.FlowViewOutput--highlighted {
  fill: var(--fv-primary-color-3);
}

.FlowViewNode--highlighted .FlowViewInput,
.FlowViewNode--highlighted .FlowViewOutput
{
  fill: var(--fv-primary-color-2);
}

.FlowViewCreatorContent > input {
  padding-left: 0.25rem;
  border: 0;
  outline: none;
  width: 95%;
  font-family: var(--fv-font-family);
  font-size: var(--fv-font-size);
}
