$flow-view-font-family: sans-serif !default;
$flow-view-font-family-mono: courier !default;
$flow-view-font-size: 16px !default;

$flow-view-color-white: #fff !default;
$flow-view-color-black: #111 !default;
$flow-view-color-neutral: #dcdcdc !default;
$flow-view-color-error: #de0656 !default;
$flow-view-color-selected: #8285ee !default;

$flow-view-background-color: $flow-view-color-white !default;
$flow-view-text-color: $flow-view-color-black !default;

$flow-view-box-shadow: 0 0 7px 1px !default;
$flow-view-box-shadow-color: rgba($flow-view-color-black, 0.1) !default;
$flow-view-box-shadow-error-color: rgba($flow-view-color-error, 0.71) !default;
$flow-view-box-shadow-selected-color: rgba($flow-view-color-selected, 0.5) !default;
$flow-view-border-radius: 2px !default;
$flow-view-border-width: 1px;
$flow-view-border-color: $flow-view-color-white !default;

$flow-view-node-bar-background-color: $flow-view-color-white !default;
$flow-view-node-pin-preview-font-size: 14px !default;

$flow-view-pin-background-color: $flow-view-color-neutral !default;
$flow-view-pin-highlight-color: $flow-view-color-black !default;
$flow-view-pin-size: 10px;

.flow-view-node {
  background-color: $flow-view-background-color;
  border: $flow-view-border-width solid $flow-view-border-color;
  border-radius: $flow-view-border-radius;
  box-shadow: $flow-view-box-shadow $flow-view-box-shadow-color;
  display: flex;
  flex-direction: column;
  font-family: $flow-view-font-family;
  font-size: $flow-view-font-size;
  position: absolute;

  &__headbar {
    background-color: $flow-view-node-bar-background-color;
    border-top-left-radius: $flow-view-border-radius;
    border-top-right-radius: $flow-view-border-radius;
    display: flex;
    justify-content: space-between;
    min-height: $flow-view-pin-size;
  }

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  &__label {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    &--has-comment {
      justify-content: start;
      padding-left: 1em;
    }
  }

  &__comment {
    font-size: 0.8em;
    padding-left: 0.5em;

    &::before {
      content: '// ';
    }
  }

  &__label span {
    cursor: default;
    user-select: none;
  }

  &__footbar {
    background-color: $flow-view-node-bar-background-color;
    border-bottom-left-radius: $flow-view-border-radius;
    border-bottom-right-radius: $flow-view-border-radius;
    display: flex;
    justify-content: space-between;
    min-height: $flow-view-pin-size;
  }

  &__pin-preview {
    background-color: $flow-view-color-white;
    border-radius: $flow-view-border-radius;
    box-shadow: $flow-view-box-shadow $flow-view-box-shadow-color;
    display: flex;
    flex-direction: column;
    font-size: $flow-view-node-pin-preview-font-size;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    position: absolute;
    text-align: start;
  }

  &__pin-preview-types {
    font-style: italic;
  }

  &__pin-preview-data {
    font-family: $flow-view-font-family-mono;
    max-width: 200px;
    text-overflow: ellipsis;
  }

  &--has-error {
    box-shadow: $flow-view-box-shadow $flow-view-box-shadow-error-color;
  }

  &--selected {
    border: $flow-view-border-width solid $flow-view-color-selected;
    box-shadow: $flow-view-box-shadow $flow-view-box-shadow-selected-color;
  }
}

.flow-view-pipe {
  stroke: $flow-view-color-neutral;
}

.flow-view-pin {
  background-color: $flow-view-pin-background-color;
  border-radius: $flow-view-border-radius;
  height: $flow-view-pin-size;
  width: $flow-view-pin-size;

  &:hover {
    background-color: $flow-view-pin-highlight-color;
  }

  &--highlighted {
    background-color: $flow-view-pin-highlight-color;
  }
}
