:root {
  --fv-canvas-background-color: #f8f8f8;
  --fv-font-family: Courier;
  --fv-font-size: 16px;
  --fv-inspector-background-color: white;
  --fv-inspector-min-width: 200px;
  --fv-inspector-padding: .25rem;
  --fv-line-color: darkgray;
  --fv-line-width: 2;
  --fv-node-background-color: white;
  --fv-pin-background-color: darkgray;
  --fv-pin-bar-background-color: gainsboro;
  --fv-primary-color-1: #a9dfbf;
  --fv-primary-color-2: mediumaquamarine;
  --fv-primary-color-3: mediumseagreen;
  --fv-shadow-color: darkgray;
}

.FlowViewCanvas {
  box-shadow: 1px 1px 7px 1px var(--fv-shadow-color);
  display: flex;
  font-family: var(--fv-font-family);
  font-size: var(--fv-font-size);
}

/* Styles attributes required to calculate text dimensions. */
.FlowViewTextRuler {
  height: auto;
  width: auto;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

.FlowViewCanvas > svg {
  background: var(--fv-canvas-background-color);
}

.FlowViewPinBar > .FlowViewBox {
  fill: var(--fv-pin-bar-background-color)
}

.FlowViewNode--highlighted > .FlowViewPinBar > .FlowViewBox {
  fill: var(--fv-primary-color-1);
}

.FlowViewNodeText {
  background: var(--fv-node-background-color);
  user-select: none;
  text-align: center;
}

.FlowViewInput,
.FlowViewOutput {
  fill: var(--fv-pin-background-color);
}

.FlowViewInput--highlighted,
.FlowViewOutput--highlighted {
  fill: var(--fv-primary-color-3);
}

.FlowViewNode--highlighted .FlowViewInput,
.FlowViewNode--highlighted .FlowViewOutput
{
  fill: var(--fv-primary-color-2);
}

.FlowViewCreator input {
  padding-left: 0.25rem;
  border: 0;
  outline: none;
  width: 95%;
  font-family: var(--fv-font-family);
  font-size: var(--fv-font-size);
}

.FlowViewLink line {
  stroke: var(--fv-line-color);
  stroke-width: var(--fv-line-width);
}

.FlowViewInspector {
  background: var(--fv-inspector-background-color);
  min-width: var(--fv-inspector-min-width);
}

.FlowViewInspector .FlowViewNodeInspector {
  padding: var(--fv-inspector-padding);
}
