*, *::before, *::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #1c1c1c;
  background: #eee;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #eee;
  }
}

main {
  padding: 1em;
  flex-grow: 1;
}

h1 {
  font-size: 3em;
  font-family: Georgia, serif;
  margin: 1rem;
}

blockquote {
  font-size: 1.2em;
  margin: 2rem;
  font-family: Georgia, serif;
}
blockquote::before {
  content: open-quote;
  font-size: 1.7em;
}

ul {
  padding-left: 2em;
  padding-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style-type: circle;
  line-height: 1.4em;
  word-break: break-word;
}

footer {
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

a:visited, a:active, a:link, a:hover, a:focus {
  color: tomato;
}
