<!-- _includes/footer.html start -->

  <script type="text/javascript" src="//g14n.info/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <div id="flow"></div>

  <script type="text/javascript" src="//g14n.info/flow-view/dist/flow-view.js"></script>
  <script type="text/javascript" src="//g14n.info/dflow/dist/dflow.js"></script>

  <script type="text/javascript">
    function runAndView (graph) {
      require('flow-view').render('flow')(graph)
      require('dflow').fun(graph)()
    }

    $.getJSON( "{{ page.flow }}", runAndView)
  </script>

<!-- _includes/footer.html end -->
