
gems:
  - jekyll-sitemap

markdown: kramdown

# Defaults

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: common/page

nav:
  Example: /flow-view/examples/basic
